@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
.App{
    min-height: 100vh;
    display: flex;
    background-image: url(./top1.png);
    background-size:cover;
    background-position:center;

    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-color: #282c34;

    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: black;
}
